GEMINI_KEY_1 = "" # can be as many but make sure to label in order such as GEMINI_KEY_1, GEMINI_KEY_2, GEMINI_KEY_3 etc
GROQ_API_KEY = "" # using only api from grok as of now, will try to leverage more grok api keys using different google accouts hehe.
TAVILY_API_KEY = "" # one should be enough for a small scale , but for larger we might have to take paid versions or other search tools.